* {
    box-sizing: border-box;
}
body {
    padding: 20px;
    min-width: 320px;
}
.parent {
    max-width: 800px;
    margin: 0 auto; 
    background-color: aliceblue;
}
.content {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__validButton{
        width: 100px;
        background-color:#ffc9d6;
        border: none;
        outline: none;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            background-color :#ff9db7;
        }
    }
    &__value {
        margin:20px 0;
    }
    &__choise {	display: none;}
    &__choise + .label {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 20px;
        border-radius: 25px;
        cursor: pointer;
        background-color: #ccc;
        margin-top: 10px;
    }
    &__choise+.label::before {
        display: block;
        content: attr(data-off-label);
        position: absolute;
        top: 6px;
        right: 4px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 8px;
        color: #999; 
    }
    &__choise+.label::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 10px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
    }
    &__choise:checked+.label::before {
        content: attr(data-on-label);
        left: 8px;
        right: auto;
        color: #fff;
       color: #fff; 
    }
    &__choise:checked+.label::after {
        left: 35px;
        background-color: #f7f7f7;
    }
    &__choise:checked+.label {	background-color: #3498db; }
    &__choise:checked+.label::before { color: #fff; }
}




 

